/* ================ FONT TTF ================ */
@font-face {
  font-family: "Digit";
  src: url("DS-DIGI.649dbaf4.TTF");
}
/********** ASAP **********/
/***Regular***/
@font-face {
  font-family: "Asap";
  src: url("Asap-Regular.92fd912b.ttf");
}
/***Bold***/
@font-face {
  font-family: "Asap_bold";
  src: url("Asap-Bold.43a972c7.ttf");
  font-weight: bold;
}
