/* ================ GENERAL MAIN QUIZ ================ */
.main_quiz, .box_quiz, .box_quiz form{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
/* ================ MAIN QUIZ ================ */
.main_quiz{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
/**** FLEX MAIN QUIZ ****/
.main_quiz:first-child{
  //flex: 1 3 48px;
}
.main_quiz:nth-child(2){
  flex: 4 0 320px;
}
.main_quiz:last-child{
  flex: 1 3 52px;
}

/* ================ TIMER ================ */
#timer{
  font-family: "Digit";
  font-size: 1.5rem;
  text-align: center;
  width: 6rem;
  height: 4rem;
  border-radius: 2.25rem/50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position: absolute;
  right: 1.8rem;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ================ BOX QUIZ ================ */
.box_quiz form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

/* ================ PROGRESS ================ */
.progress{
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.progress progress{
  width: 60%;
  //border-radius: .6rem;
  box-shadow: 1px 1px 4px darkslategray;
}
.progress span{
  display: block;
  font-size: 1.5rem;
  //font-family: "Digit";
}
