/* ==== REPONSES ORD LST==== */
.reponses ol{
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.reponses li{
  border: 1px solid yellowgreen;
}
.reponses .droparea{
  font-weight: normal;
  padding: .2em;
  margin: .25rem;
  margin-top: .5rem;
  border-radius: .5em;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-bg-color);
  box-shadow: 1px 1px 2px var(--main-ft-color) inset;
}
.reponses .droparea:hover{
  background-color: var(--secondary-color);
}

.reponses .draggable_span{
  cursor: grab;
  display: block;
  margin: .5rem;
}
.reponses .draggable_span::first-letter{
  text-transform: uppercase;
}
